.whiteboard-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.whiteboard-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.whiteboard-canvas {
    display: block;
    background: #1a1a1a;
    cursor: crosshair;
    touch-action: none;
}
